---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="djemail@gmail.com"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
	headerNote={<div>FOR ALL BOOKING PLEASE CONTACT</div>}
>
	<div>724-555-5555</div>
</Layout>
